/*
p {
font-style: italic;
font-variant: small-caps;
font-weight: 18px;
font-family: fantasy;
}
p {
font: italic small-caps bold 18px fantasy;
}
*/
p {
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:italic small-caps bold 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 18px;
}
