p {
    text-decoration-line: underline;
    text-decoration-line: overline;
    text-decoration-line: line-through;
    text-decoration-line: underline overline;
    text-decoration-line: underline overline line-through;
    text-decoration-color: red;
}